{% extends 'base.html' %}

{% block start %}
    <div class="container" id="container" style="margin-top: -80px;">
        <h3>Registration Page</h3>
        <!-- Expense form -->
        <form method="POST" id="form">
        {% csrf_token %}

        <div class="form-control">
            <label for="text">First Name</label>
            <input type="text" name="first_name" id="text" placeholder="First name" />
        </div>
        <div class="form-control">
            <label for="text">Last Name</label>
            <input type="text" name="last_name" id="text" placeholder="Last name" />
        </div>
        <div class="form-control">
            <label for="text">User Name</label>
            <input type="text" name="user_name" id="text" placeholder="User name" />
        </div>

        <div class="form-control">
                <label for="amount">Password </label>
                <input type="text" name="password" id="amount" placeholder="Password" />
        </div>
        <label><small>Already have an account <a href="{% url 'login_view' %}">Login</a></small></label>
        <button class="btn" type="submit">Signup</button>
        </form>

    </div>

{% endblock %}